<div class="container">
    <h2>LISTA DE PRODUCTOS</h2>
        {{!-- --------------------------------------MUESTRA PRODUCTOS ---------------------------- --}}
        <div class="row">

            <div class="col-12" id="productoss">
                <table class="table table-striped" id="lista">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>CODE</td>
                            <td>TITLE</td>
                            <td>PRICE</td>
                            <td>STOCK</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
        {{!-- ----------------------------------------------------------------------------------- --}}
</div>
    
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>